/*
  a to z styles
*/

$atoz_grey: #999999;

body {
  font-family: Helvetica; 
  font-size: 12px;  
}

#intro {
  color: $atoz_grey;
  font-style: italic;
}

#random_letter {
  font-size: 200px;
  line-height: 1.2em;
}